/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  color: #122a5d; 
}

html {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Open Sans', san-serif; 
}

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; 
  overflow:hidden;
}

.us.image {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 50em) {
  .us.image {
    width: 200px;
    height: 200px;
  }
}

.image {
  border: 2px solid #122a5d;
  border-radius: 2px;
}

.registry.image {
  position: relative;
}

.registry.image:hover {
  background: rgba(110, 127, 165, .3);
}

.bbb {
  /* hack so I don't have to photoshop this sucker */
  padding: 21px;
}

hr {
  background-color: #6e7fa5;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none; 
}

.float-menu {
  position: fixed;
  top: 0;
  z-index: 99;
}

.registry-container {
  list-style-type: none;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.registry-container > ul > li {
  display: inline-block;
}

@media screen and (max-width: 50em) {
  .registry-container > ul {
    padding: 0;
  }
  .registry-container > ul > li {
    display: block;
  }
  .image.registry {
    width: 220px;
    margin-bottom: 10px;
  }
}

.menu-container {
  list-style-type: none;
  width: 50em;
  margin: 0 auto; 
}

.menu-item {
  display: inline;
}

@media screen and (max-width: 50em) {
  .menu-container {
    width: 100%;
    padding: 0;
  }
  .menu-item {
    text-align: center;
    display: block;
  }
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 35px;
  line-height: 3.4;
  width:100%
}

.menu-link:link,.menu-link:active,.menu-link:visited {
  color: white; }

.menu-link:hover {
  background-color: #122a5d; 
}

.article {
  background: white;
  opacity: 0.95;
  padding: 20px;
  border-radius: 5px;
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%; 
}
.article:last-child {
  margin-right: 0; 
}
@media screen and (max-width: 50em) {
  .article {
    margin-right: 11.11111%;
    width: 100%;
    margin: 20px 0; 
  }
}

.article.static {
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 100%; 
}

.article.static:last-child {
  margin-right: 0; 
}

@media screen and (max-width: 50em) {
  .article.static {
    margin-right: 11.11111%;
  }
}

.article.headline {
  text-align: center;
  width: 100%;
}

.article.headline h1 {
  background: white; 
}

.article.empty {
  height: 350px;
  background: none; 
}

.section-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; 
}
.section-container:after {
  content: "";
  display: table;
  clear: both; 
}

div.section-container {
  padding: 50px 0; 
}

.selected {
  background-color: #122a5d; 
}

.links {
  background-color: #6e7fa5;
  color: #122a5d; 
}

.section[data-type="background"] {
  min-height: 50em;
  background: url(foo) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  @media (max-width: 50em) {
    background-attachment: scroll;
  }
}

#top {
  background-image: url(../img/greets.jpg); 
}

#us {
  background-image: url(../img/us.png); 
}

#party {
  background-image: url(../img/party.jpg); 
}

#where {
  background-image: url(../img/test2.png); 
}

#lodging {
  background-image: url(../img/test1.png); 
}

#registry {
  background-image: url(../img/registry.jpg); 
}

.party-section {
  position: relative;
  height: 100%;
  padding: 10px 0; 
}

@media (max-width: 50em) {
  .party-section {
    text-align: center; 
  } 
}

.party.image {
  padding: 0;
  width: 200px;
  height: 200px;
  border: 2px solid #122a5d ;
  border-radius: 2px;
  margin-left: 10px;
  float: right;
  right: 0;
  top: 25px; 
}

@media (max-width: 50em) {
  .party.image {
    position: static;
    display: block;
    margin: 0 auto; 
    float: none;
  } 
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
